
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning vueJS</title>

    <link rel="stylesheet" type="text/css" href="site.css"></link>    
</head>
<body>
    <form id="app" v-cloak>
        <div class="bar">
            <input type="text" v-model="searchString" placeholder="Enter your search terms" />
        </div>

        <ul>
            <li v-for="article in filteredArticles">
                <a v-bind:href="article.url">
                    <img v-bind:src="article.image" />
                </a>
                <p>{{article.title}}</p>
            </li>
        </ul>
    </form>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="app.js"></script>
</html>
