<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning vueJS</title>

    <link rel="stylesheet" type="text/css" href="tree.css"></link>
</head>

<body>
    <p>(You can double click on an item to turn it into a folder.)</p>

    <script type="text/x-template" id="item-template">
        <li>
          <div
            :class="{bold: isFolder}"
            @click="toggle"
            @dblclick="changeType">
            {{ model.name }}
            <span v-if="isFolder">[{{ open ? '-' : '+' }}]</span>
          </div>
          <ul v-show="open" v-if="isFolder">
            <item
              class="item"
              v-for="(model, index) in model.children"
              :key="index"
              :model="model">
            </item>
            <li class="add" @click="addChild">+</li>
          </ul>
        </li>
    </script>

    <ul id="demo">
        <item class="item" :model="treeData">
        </item>
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="tree.js"></script>
</html>